#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
PACKAGE=egg

build: build-stamp
build-stamp:
	dh_testdir

	./configure

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	-$(MAKE) distclean
	rm -f `pwd`/helper/egg-helper

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	cp -r eggrc *.el egg its Makefile \
		`pwd`/debian/$(PACKAGE)/usr/share/emacs/site-lisp/egg/
	rm -rf `pwd`/debian/$(PACKAGE)/usr/share/emacs/site-lisp/egg/its/CVS
	rm -rf `pwd`/debian/$(PACKAGE)/usr/share/emacs/site-lisp/egg/egg/CVS

	install -m 644 debian/egg-init.el \
		 `pwd`/debian/$(PACKAGE)/usr/share/emacs/site-lisp/egg/

# Build architecture-dependent files here.
binary-arch: build install

# Build architecture-dependent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installemacsen
	dh_installinfo
	dh_installchangelogs ChangeLog ChangeLog.0
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
